*{
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    background-color:  #FD6E0A;
    border-radius: 5px;
    height: 64px;
    width: 700;
}
/* banner style */
.banner{
    background-image: url(../images/banner/banner2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    text-align: right;
    margin-bottom: 146px;
}
.banner-details{
    margin:0px 200px;
    align-items: right;
    padding: 216px 230px 0px 845px;
}
.banner-title{
    
    font-weight: 700;
    font-size: 65px;
}
.banner-desc{
    color: #444343;
    font-weight: 400;
font-size: 16px;
margin-bottom: 32px;

}
/* main section */


.failour{
    display: flex;
    align-items: center;
    max-width: 1072px;
    /* margin: 0px 322px 0px 206px; */
    gap: 87px;
    margin: 0px auto;

}
/* .failour-img{
     margin: 0px 825px 0px 206px;  */

.section-title{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    Width: 288px;
    margin-bottom: 24px;

}
.section-desc{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
     /* Width: 416px; 
    Height: 104px; */
    margin-bottom: 16px;

}
.section-cont{
    /* width: 349px; */
    /* height: 162px; */
    color: #444343;
    /* margin: 0px 200px 0px 400px; */
   
   
}
/* success section */
.success{
    display: flex;
    margin: 147px auto;
    gap: 87px;
    align-items: center;
    max-width: 1072px;
   
}

